body
{
	background:#000 url( {{ site.url }}/img/bg.gif) repeat center top;
	color:#8A8A8A;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-top:50px;
	padding:0;
}

h1,h2,h3
{
	color:#549900;
	font-weight:400;
	margin:0;
	text-transform:uppercase;
}

h1
{
	font-size:44px;
}

h2
{
	font-size:18px;
}

p,ul,ol
{
	line-height:125%;
	margin-top:0;
	text-align:justify;
}

p .pdf
{
	font-size:44px;
	text-align:right;
}

a
{
	color:#639CBF;
}

a:hover
{
	text-decoration:none;
}

a img
{
	border:none;
}

img.left
{
	float:left;
	margin:7px 30px 0 0;
}

img.right
{
	float:right;
	margin:7px 0 0 30px;
}

hr
{
	display:none;
}

.list1 li
{
	float:left;
	line-height:normal;
}

.list1 li img
{
	margin:0 30px 30px 0;
}

.list1 li.alt img
{
	margin-right:0;
}

#header
{
	-moz-border-radius-topleft:1em;
	-moz-border-radius-topright:1em;
	-moz-opacity:0.75;
	-webkit-border-top-left-radius:1em;
	-webkit-border-top-right-radius:1em;
	background:#000;
	border-bottom:3px solid #262626;
	filter:alpha(opacity=75);
	height:46px;
	margin:0 auto;
	opacity:0.75;
	padding:0 10px;
	width:740px;
}

#menu
{
	float:left;
	height:46px;
	width:580px;
}

#menu li
{
	display:block;
	float:left;
}

#menu a
{
	color:#FFF;
	display:block;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:700;
	height:32px;
	padding:14px 20px 0;
	text-align:center;
	text-decoration:none;
	text-transform:capitalize;
}

#menu a:hover
{
	background:#262626;
	text-decoration:none;
}

#menu .current_page_item a
{
	background:#262626;
}

#page
{
	-moz-border-radius-bottomleft:1em;
	-moz-border-radius-bottomright:1em;
	-moz-opacity:0.8;
	-webkit-border-bottom-left-radius:1em;
	-webkit-border-bottom-right-radius:1em;
	background:#000;
	filter:alpha(opacity=80);
	margin:auto;
	opacity:0.8;
	padding:5px 30px;
	width:700px;
}

#logo
{
	height:94px;
	margin:0 auto;
	width:860px;
}

#logo h1,#logo p
{
	color:#FFF;
	font-weight:400;
	line-height:normal;
	margin:0;
	text-transform:lowercase;
}

#logo p
{
	color:#639CBF;
	font-size:13px;
	margin-top:-4px;
	text-transform:lowercase;
}

#logo h1
{
	font-size:48px;
	padding-top:10px;
}

#logo a
{
	color:#639CBF;
	text-decoration:none;
}

#logo h1 a
{
	color:#707070;
	text-decoration:none;
}

#banner
{
	padding-bottom:20px;
}

#content
{
	float:left;
	font-size:18px;
	font-weight:400;
	width:510px;
}

#content2
{
	float:left;
	font-weight:400;
	width:700px;
}

#content h2
{
	color:#FFF;
	font-size:25px;
	font-weight:400;
	height:30px;
	margin:0 0 10px;
	text-transform:capitalize;
}

#content table
{
	margin-left:15px;
	margin-right:15px;
	padding:15px;
	width:400px;
}

#content td
{
	float:none;
	font-family:???Josefin Sans???, arial, serif;
	padding-left:45px;
	width:400px;
}

#content2 td
{
	margin:0 0 10px;
	padding:0;
	text-align:center;
}

.post
{
	margin-bottom:45px;
}

.post .title
{
	height:44px;
}

.post .title a
{
	color:#FFF;
	font-size:30px;
	text-decoration:none;
	text-transform:capitalize;
}

.post .meta
{
	color:#66665E;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:400;
	height:32px;
	margin-left:2px;
	margin-top:-10px;
	padding:4px 30px 2px 0;
}

.post .meta span
{
	display:block;
	margin-top:-10px;
}

.post .entry
{
	border-top:1px solid #2B2B2B;
	padding:10px 0;
}

.post .links
{
	background:#2A4345;
	border:1px solid #5F817E;
	color:#FFF;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:700;
	height:18px;
	margin:0 0 4px;
	padding:3px 0 0 40px;
	text-decoration:none;
	width:120px;
}

.post .comments
{
	background:#2A4345;
	border:1px solid #5F817E;
	color:#FFF;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:700;
	height:18px;
	margin:0;
	padding:3px 0 0 40px;
	text-decoration:none;
	width:120px;
}

#contact
{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-left:250px;
	width:100%;
}

#contact li
{
	margin-bottom:30px;
	padding:0 0 10px;
}

#contact li ul
{
	margin:0;
}

#contact li li
{
	background:url(images/img03.gif) no-repeat left 16px;
	margin:0;
	padding:10px 0;
}

#contact li li a
{
	font-weight:400;
	padding:0 0 0 20px;
}

#contact li li a:hover
{
	color:#EB5716;
}

#contact p
{
	line-height:200%;
	margin:0;
	padding:0 14px;
}

#contact h2
{
	color:#FFF;
	font-size:18px;
	font-weight:400;
	height:30px;
	margin:0 0 10px;
	padding:6px 0 2px;
	text-transform:capitalize;
}

#contact a
{
	font-weight:700;
	text-align:left;
	text-decoration:none;
}

#center
{
	text-align:center;
}

#footer
{
	border-top:0 solid #2B2B2B;
	height:100px;
	margin:0 auto;
	padding:0;
	width:960px;
}

#footer p
{
	font-size:10px;
	line-height:normal;
	margin:0;
	padding:30px 0 0;
	text-align:center;
	text-transform:uppercase;
}

#menu ul,#contact ul
{
	line-height:normal;
	list-style:none;
	margin:0;
	padding:0;
}
